# CentOS 7.4 KickStart tested under XenServer 7.4.0
# boot your CentOS-7-x86_64-Minimal-1708.iso   with these args:
# ... inst.ks=http://YOUR_HTTP_SERVER/xen/ks.cfg
# optional args (to avoid textmode change): 'nomodeset bochs_drm.nomodeset=0'
# WARNING! KickStart installer requires 1.5GB RAM or more for your VM!!!
# WARNING! root has password 123456 and SSH root login is enabled.
#          Do not use this script of public VM/server!
# NOTE: Do not forget to install Xen Guest Tools after reboot.

# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
#ignoredisk --only-use=xvda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts=''
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname=centos7.example.com

# Root password
rootpw 123456
# System services
services --enabled="chronyd"
# Do not configure the X Window System
skipx
# System timezone
timezone Europe/Prague --isUtc
# System bootloader configuration
bootloader --location=mbr --boot-drive=xvda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=xvda
selinux --disabled
# from https://www.centos.org/forums/viewtopic.php?t=55874#p237710
eula --agreed
reboot

%packages
@core
chrony
-centos-logos
-plymouth
-plymouth-scripts
-plymouth-core-libs
-alsa-lib
-NetworkManager-wifi
-irqbalance
-tuned
-fxload

# rpm -qa | sort | grep firmware | sed 's/^/-/;s/firmware-.*/firmware/'
-aic94xx-firmware
-alsa-firmware
-alsa-tools-firmware
-ivtv-firmware
-iwl1000-firmware
-iwl100-firmware
-iwl105-firmware
-iwl135-firmware
-iwl2000-firmware
-iwl2030-firmware
-iwl3160-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6000g2b-firmware
-iwl6050-firmware
-iwl7260-firmware
-iwl7265-firmware
-linux-firmware

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
# disable foreign OS probe
chmod a-rx /etc/grub.d/30_os-prober
# remove possible active settings of PermitRootLogin
sed -i.bak  -e '/^PermitRootLogin/d' /etc/ssh/sshd_config
# permit root login
echo "PermitRootLogin yes" >> /etc/ssh/sshd_config
%end